body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    height: 72px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header ul li {
    list-style-type: none;
}

.header a {
    text-decoration: none;
}

.header .logo {
    color: #2E2F42;
    margin-right: 76px;
}

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navigate {
    display: flex;
}

.main-navigate--list {
    gap: 40px;
}

.main-navigate--list a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
}

address {
    font-style: normal;
}

.contacts ul {
    gap: 40px;
}

.contacts a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455;
}

.logo {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

.logo span {
    color: #4D5AE5;
}

.container {
    width: 100%;
    max-width: 1128px;
}

.hero {
    background-color: #2E2F42;
    padding: 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.button {
    background-color: #4D5AE5;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 120px 0;
    background-color: #FFFFFF;
}

section h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}

section h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
}

section ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0;
    padding: 0;
}

section ul li {
    list-style-type: none;
    flex: 0 1 calc(25% - 18px);
}

section p {
    margin: 8px 0 0 0;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 #2E2F4214;
    border-radius:  0 0 4px 4px;
    overflow: hidden;
}

.card img {
    object-fit: contain;
    display: block;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
}

.team {
    background-color: #F4F4FD;
}

.portfolio ul li {
    flex: 0 1 calc((100% - 54px) / 3);
    box-shadow: none;
    border: 1px solid #E7E9FC;
}

.portfolio .card-content {
    align-items: start;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E2F42;
    padding: 100px 0 100px 0;
}

.footer .logo {
    margin-bottom: 16px;
}

.footer p {
    font-size: 16px;
    line-height: 24px;
    color: #F4F4FD;
}